body,
main {
	/* this is the page background */
	background-color: $color-1;
}

.page-wrapper {
	background-color: $color-1;

	.intro, .explanation, .participation, .benefits, .requirements {
		// background-color: $color-2
		border-image: url("assets/paper-68832_1280.svg");
		// border-image: url("assets/parchment.png");
		border-image-slice: 0 fill;
	}
}

aside {
	// background: $color-1;

	div div {
		border-image: url("assets/paper-68832_1280.svg");
		// border-image: url("assets/parchment.png");
		border-image-slice: 0 fill;
	}
}

