// breakpoints

$XS:    640px;  
$S:     768px;   
$M:     1080px;     
$L:     1600px;   

// media queries

@mixin MQ($canvas) {
  @if $canvas == XS {
   @media only screen and (min-width: $XS) { @content; } 
  }
  @else if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  } 
  @else {
    @media only screen and (min-width: $canvas) { @content; }
  }
}

// super light grid - it works with the .cd-container class inside style.scss

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}

#css-zen-garden {
  margin: 0;
}

.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 4em auto;

  @include MQ(M) {

    .intro, .main {
      width: 75%;
    }

    .intro {
      order: 1;
    }
    
    .main {
      order: 3;
    }

    aside {
      order: 2;
      padding-top: 0;
      display: flex;
      flex-direction: column;
      width: 25%;

      div {
        width: 95%;
        margin: 0 auto 30px;

        div {
          padding: 1em 1em 1em 0;
          float: none;
        }

        h3 {
          margin-top: 0;
        }
      }

    }


  }
}

.intro, .main {
  z-index: 2;
  padding: 20px 0;
  box-sizing: border-box;
}

.explanation, .participation {
  padding: 20px;
  margin-bottom: 20px;
}

.requirements {
  padding: 20px 20px 80px;
  margin-bottom: 20px;
}

.benefits {
  padding: 20px 20px 180px;
  margin-bottom: 20px;
}

footer {
  margin: -100px 0 0;
  text-align: right;

  .zen-validate-html::before {
    content:"~";
  }
}

aside {
  z-index: 2;
  width: 100%;

  div div {
    margin-top: 20px;
    padding: 1em;
    padding: 55px 55px 75px;
    box-sizing: border-box;
  }

  .design-selection {
    margin-top: 0;
  }

  @include MQ(XS) {
    .design-archives {
      width: 50%;
      float: left;
    }
    .zen-resources {
      width: 50%;
      float: right;
    }
  }
    
}

ul {
    list-style: none;
  }

  footer {
    padding: 2em;
  }
