.page-wrapper {
	// margin-top: 300px;
	&::before {
		background-image: url("assets/pirate-ship.svg");
		background-repeat: no-repeat;
		content: "";
		max-width: 160px;
		padding: 300px 150px 0;
		position: relative;
		animation: float 5s infinite ease;
		margin: 0 auto -45px;
		@include MQ(S) {
			padding: 300px 22% 0;
			transform-origin: 22% center;
			animation: sail 15s infinite ease;
			margin: 0 0 -43px;
			z-index: 0;
		}
	}
}

@keyframes float {
  0%{ transform: rotate(-2deg); }
  50%{ transform: rotate(3deg); }
  100%{ transform: rotate(-2deg); }
}

@keyframes sail {
	0% { left: 0; transform: rotate(-2deg); }
	12.5% { transform: rotate(3deg); }
	25% { transform: rotate(-2deg); }
	37.5% { transform: rotate(3deg); }
	50% { left: 75%; transform: rotate(-2deg) rotateY(180deg); }
	62.5% { transform: rotate(3deg) rotateY(180deg); }
	75% { transform: rotate(-2deg) rotateY(180deg); }
	87.5% { transform: rotate(3deg) rotateY(180deg); }
	100% { left: 0; transform: rotate(-2deg); }
}

html, body {
	overflow: auto;
}
