header {
  text-align: center;

  h1 {
  	margin-bottom: 0;

	&::before {
		content: "$";
		display: block;
		@include MQ(500px) {
			padding-right: 1em;
			display: inline;
		}
		
	}

	&::after {
		content: "$";
		display: block;
		@include MQ(500px) {
			padding-left: 1em;
			display: inline;
		}
	}
  }

  h2 {
  	margin-top: 1em;
  }

}